
<div  class="page-wrapper">
    <div class="content container-fluid">
  
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <h3 class="page-title text-right">تحميل المترشحين      </h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">الرئيسية </a></li>
                        <li class="breadcrumb-item active">تحميل ملف اكسيل    </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        
        <div class="row">
            <div class="col-sm-12">
                <div class="card mb-0">
                    <div class="card-header text-right">
                        <h4 class="card-title mb-0"></h4>
                        <p class="card-text">
                          <a style="visibility: hidden;" href="/addCandidate" class="btn btn-primary">اضافة جديد  </a>     
                          <a style="visibility: hidden;"  href="" data-toggle="modal" data-target=".bd-example-modal-lg"  class="btn btn-primary">بحث  </a>  
                          <!-- <a ng-click="exportExcel()"  class="btn btn-primary"> تصدير  </a>      -->

                          <!-- <button  class="btn-success" style="width: 30%;  border: 1px solid rgba(0, 0, 0, 0.5);font-family: 'Cairo';margin-bottom: 8px;padding: 8px 4px;  z-index: 3;opacity:0.6;border-radius:5px;" ng-click="exportExcel()">تحميل أكسل</button> -->

                        </p>
                    </div>
                    <div class="card-body">
  
                        <iframe style="border: none !important" src="http://64.227.35.49/ForasAdmin/html/imprtExcel.html" height="500px" width="100%">
                    </div>
                </div>
            </div>
        </div>
    
    </div>			
  </div>
  



<!--   
<div ng-if="qalamLang == 'en'" class="page-wrapper">
    <div class="content container-fluid">
  
       <div class="page-header">
            <div class="row">
                <div class="col">
                    <h3 class="page-title text-left">Upload Candidates      </h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Main </a></li>
                        <li class="breadcrumb-item active">imprt excel     </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <div class="card mb-0">
                    <div class="card-header text-left">
                        <h4 class="card-title mb-0"></h4>
                        <p class="card-text">
                          <a style="visibility: hidden;" href="/addCandidate" class="btn btn-primary">اضافة جديد  </a>     
                          <a style="visibility: hidden;"  href="" data-toggle="modal" data-target=".bd-example-modal-lg"  class="btn btn-primary">بحث  </a>  
                         
                        </p>
                    </div>
                    <div class="card-body">
  
                        <iframe style="border: none !important" src="http://64.227.35.49/ForasAdmin/html/imprtExcel.html" height="500px" width="100%">
                    </div>
                </div>
            </div>
        </div>
    
    </div>			
  </div>
   -->








  
  