
   <div ng-if="!qalamLang || qalamLang == 'ar'" class="col-lg-12 col-md-12 col-xs-12" >
   
    <a  ng-if="currentEmployeePermissions.addChild.value == true" style="text-decoration: none !important;" href="/addChild/{{parentID}}">

      <p style="font-family: 'Baloo Bhaijaan';font-size:24px;font-weight:bold;text-align:center;color:#000">اضف طفل      
              &nbsp;<i class="fa fa-plus" aria-hidden="true"></i><span class="glyphicon glyphicon-plus-sign" style="margin-left: 10px;vertical-align: text-top;"></span>
            </p>
  
  </a>  

  <div class="text-right">
    <button type="button" class="btn btn-info " data-toggle="modal" data-target=".bd-example-modal-lg" data-whatever="@fat"> بحـث </button>
    <button ng-click="getAllData()" type="button" class="btn btn-info">كل البيانات </button>

  </div>
  
    <div style="width: 100%; overflow-x: scroll;">
            <table style="border: 1px solid #000; direction: rtl; " class="table table-bordered table-hover  text-center">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">الصورة  </th>

                        <th scope="col">الاسم   </th>
                        <th scope="col">اللقب    </th>

                        <th scope="col">تاريخ الاضافة  </th>
                        <th scope="col">المرحلة العمرية   </th>

                        <th scope="col">المستوى التعليمى      </th>
                        <th scope="col">الجنس       </th>
                        <th scope="col">الحالة        </th>

                      
                        <th scope="col">التقييم      </th>
                        <!-- <th scope="col"> المواد       </th> -->
                        <th  ng-if="currentEmployeePermissions.editChild.value == true" scope="col"> التعديل        </th>
                        <th  ng-if="currentEmployeePermissions.deleteChild.value == true" scope="col">الحذف    </th>



                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-if="c.status != 3" ng-class="{'table-danger': c.status == 2 }"  dir-paginate="c in children |filter:searchText |itemsPerPage:20">
                        <th scope="row">{{$index+1}}</th>
                        <td>
                            <img style="width: 70px; height: 70px; border-radius: 50%;" src="{{c.imgPath}}" alt="">
                        </td>
                        <td>{{c.firstname}}</td>
                        <td>{{c.surname}}</td>
                        <td>{{c.createdAt | cmdate:'yyyy-MM-dd'}}</td>
                        <td>{{c.childAgeID.titleAr}}</td>
                        <td >{{c.educationalLevelID.titleAr}}</td>


                        <td>
                          <span ng-if="c.gender == 1">
                            ذكر 
                          </span>
                          <span ng-if="c.gender == 2">
                            أنثى 
                          </span>
                        </td>
                        
                        <td>

                          <span ng-if="c.status == 1">
                            نشط  
                          </span>
                          <span ng-if="c.status == 2">
                            غير نشط  
                          </span>
                        </td>

                        <td>{{c.rate}}</td>
               
                        <!-- <td><a href="/educationalMaterials/{{c.educationalLevelID._id}}"><i class="fas fa-book" style="color:#666363"></i></a></td> -->
                        <td  ng-if="currentEmployeePermissions.editChild.value == true" ><a href="/editChild/{{c._id}}/1"><i class="fas fa-edit" style="color:#666363"></i></a></td>
                        <td  ng-if="currentEmployeePermissions.deleteChild.value == true" >
                                                    <i style="cursor: pointer;" ng-click="deletData(c._id  , c)" class="fas fa-trash-alt"></i>

                        </td>


                      </tr>
                     
                    </tbody>
                  </table>
                 
    
    
        </div>
        <div class="clearfix">

        </div>
       
       <div style="width: 100%;" class="row">
            <dir-pagination-controls max-size="8"
            direction-links="true"
            boundary-links="true">
            </dir-pagination-controls>
       </div>
        
    </div>










    <div ng-if="qalamLang == 'en'" class="col-lg-12 col-md-12 col-xs-12" >
   
      <a  ng-if="currentEmployeePermissions.addChild.value == true" style="text-decoration: none !important;" href="/addChild/{{parentID}}">
  
        <p style="font-family: 'Baloo Bhaijaan';font-size:24px;font-weight:bold;text-align:center;color:#000">Add Child       
                &nbsp;<i class="fa fa-plus" aria-hidden="true"></i><span class="glyphicon glyphicon-plus-sign" style="margin-left: 10px;vertical-align: text-top;"></span>
              </p>
    
    </a>  
    <div class="text-left">
      <button type="button" class="btn btn-info " data-toggle="modal" data-target=".bd-example-modal-lg" data-whatever="@fat"> search </button>
      <button ng-click="getAllData()" type="button" class="btn btn-info">all data </button>
  
    </div>



      <div style="width: 100%; overflow-x: scroll;">
              <table style="border: 1px solid #000; direction: ltr; " class="table table-bordered table-hover  text-center">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Image  </th>
  
                          <th scope="col">name   </th>
                          <th scope="col">surname    </th>
  
                          <th scope="col">added date  </th>
                          <th scope="col">age level   </th>
  
                          <th scope="col">educational Level     </th>
                          <th scope="col">gender       </th>
                          <th scope="col">status        </th>
  
                        
                          <th scope="col">rate      </th>
                          <!-- <th scope="col"> educational Level       </th> -->
                          <th  ng-if="currentEmployeePermissions.editChild.value == true" scope="col"> Edit         </th>
                          <th  ng-if="currentEmployeePermissions.deleteChild.value == true" scope="col"> Delete    </th>
  
  
  
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-if="c.status != 3" dir-paginate="c in children |filter:searchText |itemsPerPage:20">
                          <th scope="row">{{$index+1}}</th>
                          <td>
                              <img style="width: 70px; height: 70px; border-radius: 50%;" src="{{c.imgPath}}" alt="">
                          </td>
                          <td>{{c.firstname}}</td>
                          <td>{{c.surname}}</td>
                          <td>{{c.createdAt | cmdate:'yyyy-MM-dd'}}</td>
                          <td>{{c.childAgeID.titleEN}}</td>
                          <td >{{c.educationalLevelID.titleEN}}</td>
  
  
                          <td>
                            <span ng-if="c.gender == 1">
                              Male 
                            </span>
                            <span ng-if="c.gender == 2">
                              Female 
                            </span>
                          </td>
                          
                          <td>
  
                            <span ng-if="c.status == 1">
                              Active  
                            </span>
                            <span ng-if="c.status == 2">
                              Not Active  
                            </span>
                          </td>
  
                          <td>{{c.rate}}</td>
                 
                          <!-- <td><a href="/educationalMaterials/{{c.educationalLevelID._id}}"><i class="fas fa-book" style="color:#666363"></i></a></td> -->
                          <td  ng-if="currentEmployeePermissions.editChild.value == true" ><a href="/editChild/{{c._id}}/1"><i class="fas fa-edit" style="color:#666363"></i></a></td>
                          <td  ng-if="currentEmployeePermissions.deleteChild.value == true" >
                                            <i style="cursor: pointer;" ng-click="deletData(c._id  , c)" class="fas fa-trash-alt"></i>

                          </td>
  
  
                        </tr>
                       
                      </tbody>
                    </table>
                   
      
      
          </div>
          <div class="clearfix">
  
          </div>
         
         <div style="width: 100%;" class="row">
              <dir-pagination-controls max-size="8"
              direction-links="true"
              boundary-links="true">
              </dir-pagination-controls>
         </div>
          
      </div>
      
     
    
   

    
      <div ng-if="!qalamLang || qalamLang == 'ar'" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content p-4">
            <form  ng-submit="findData()" style="direction: rtl;">
              <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="form-group text-right">
                        <h4 >التاريخ من    </h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <input ng-model="searchObj.dateFrom" id="dateFrom" type="date" class="form-control"   >
                    </div>
                </div>
                
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-6">
                  <div class="form-group text-right">
                      <h4 >التاريخ الى    </h4>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6">
                  <div class="form-group">
                      <input ng-model="searchObj.dateTo" id="dateTo" type="date" class="form-control"   >
                  </div>
              </div>
              
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-6">
                  <div class="form-group text-right">
                      <h4 >الأسـم   </h4>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6">
                  <div class="form-group">
                      <input ng-model="searchObj.firstname" id="firstname"  type="text" class="form-control"   >
                  </div>
              </div>
              
          </div>
          <div class="row">
              <div class="col-md-3 col-sm-6">
                      <div class="form-group text-right">
                          <h4 >اللقب     </h4>
                      </div>
              </div>
              <div class="col-md-4 col-sm-6">
                      <div class="form-group">
                          <input ng-model="searchObj.surname" id="surname"    class="form-control"   >
                      </div>
              </div>
                  
          </div>
       
        
  
          <div class="row">
                  <div class="col-md-3 col-sm-6">
                          <div class="form-group text-right">
                              <h4 >الجنس      </h4>
                          </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                          <div class="form-group">
                                  <select ng-model="searchObj.gender"  id="gender" class="form-control" >
                                          <option ng-selected="child.gender == 1"  value="1">ذكر </option>
                                          <option ng-selected="child.gender == 2" value="2" >أنثى  </option>
  
                                  </select>
                          </div>
                  </div>
                      
          </div>
  
          
       
  
          <div class="row">
                  <div class="col-md-3 col-sm-6">
                          <div class="form-group text-right">
                                  <h4 >الفئة العمرية           </h4>
                            
                          </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                          <div class="form-group">
                                  <select ng-model="searchObj.childAgeID" id="childAgeID" class="form-control" >
                                          <option  ng-repeat="c in childAges"  value="{{c._id}}">{{c.titleAr || c.titleEN}}</option>
  
                                  </select>
                          </div>
                  </div>
          </div>
          <div class="row">
              <div class="col-md-3 col-sm-6">
                      <div class="form-group text-right">
                              <h4 >المرحلة التعليمية            </h4>
                        
                      </div>
              </div>
              <div class="col-md-4 col-sm-6">
                      <div class="form-group">
                              <select ng-model="searchObj.educationalLevelID"  id="educationalLevelID" class="form-control" >
                                      <option ng-repeat="c in educationalLevels"  value="{{c._id}}">{{c.titleAr || c.titleEN}}</option>
  
                              </select>
                      </div>
              </div>
          </div>
            
            
            
              <div class="col-lg-12 col-md-12 col-xs-12">
                      <button type="submit" class="btn-success px-4" style="font-size:2vh; text-align:center; border: 1px solid rgba(0, 0, 0, 0.5);font-family: 'Cairo';margin-bottom: 8px;padding: 8px 4px;  z-index: 3;opacity:0.6;border-radius:5px;display:inline-block;margin-right: 5px; margin-left: 5px; ">بحـث   </button>
                     
                      <a  data-dismiss="modal"  class="btn-danger px-4" style="font-size:2vh; text-align:center; border: 1px solid rgba(0, 0, 0, 0.5);font-family: 'Cairo';margin-bottom: 8px;padding: 8px 4px;  z-index: 3;opacity:0.6;border-radius:5px;font-weight:bold;display:inline-block;margin-right: 5px; margin-left: 5px;color: #fff;">أغلاق </a>
                  </div>
            </form>
          </div>
        </div>
      </div>
      <div ng-if="qalamLang == 'en'" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content p-4">
            <form  ng-submit="findData()" style="direction: ltr;">
              <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="form-group text-left">
                        <h4 >Date from     </h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <input ng-model="searchObj.dateFrom" id="dateFrom" type="date" class="form-control"   >
                    </div>
                </div>
                
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-6">
                  <div class="form-group text-left">
                      <h4 >Date to    </h4>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6">
                  <div class="form-group">
                      <input ng-model="searchObj.dateTo" id="dateTo" type="date" class="form-control"   >
                  </div>
              </div>
              
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-6">
                  <div class="form-group text-left">
                      <h4 >name   </h4>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6">
                  <div class="form-group">
                      <input ng-model="searchObj.firstname" id="firstname"  type="text" class="form-control"   >
                  </div>
              </div>
              
          </div>
          <div class="row">
              <div class="col-md-3 col-sm-6">
                      <div class="form-group text-left">
                          <h4 >surname     </h4>
                      </div>
              </div>
              <div class="col-md-4 col-sm-6">
                      <div class="form-group">
                          <input ng-model="searchObj.surname" id="surname"    class="form-control"   >
                      </div>
              </div>
                  
          </div>
       
        
  
          <div class="row">
                  <div class="col-md-3 col-sm-6">
                          <div class="form-group text-left">
                              <h4 >gender      </h4>
                          </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                          <div class="form-group">
                                  <select ng-model="searchObj.gender"  id="gender" class="form-control" >
                                          <option ng-selected="child.gender == 1"  value="1">male  </option>
                                          <option ng-selected="child.gender == 2" value="2" >female  </option>
  
                                  </select>
                          </div>
                  </div>
                      
          </div>
  
          
       
  
          <div class="row">
                  <div class="col-md-3 col-sm-6">
                          <div class="form-group text-left">
                                  <h4 >child age            </h4>
                            
                          </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                          <div class="form-group">
                                  <select ng-model="searchObj.childAgeID" id="childAgeID" class="form-control" >
                                          <option  ng-repeat="c in childAges"  value="{{c._id}}">{{c.titleEN || c.titleAr }}</option>
  
                                  </select>
                          </div>
                  </div>
          </div>
          <div class="row">
              <div class="col-md-3 col-sm-6">
                      <div class="form-group text-left">
                              <h4 >educationa lLevel            </h4>
                        
                      </div>
              </div>
              <div class="col-md-4 col-sm-6">
                      <div class="form-group">
                              <select ng-model="searchObj.educationalLevelID"  id="educationalLevelID" class="form-control" >
                                      <option ng-repeat="c in educationalLevels"  value="{{c._id}}">{{ c.titleEN || c.titleAr}}</option>
  
                              </select>
                      </div>
              </div>
          </div>
            
            
            
              <div class="col-lg-12 col-md-12 col-xs-12 text-right">
                      <button type="submit" class="btn-success px-4" style="font-size:2vh; text-align:center; border: 1px solid rgba(0, 0, 0, 0.5);font-family: 'Cairo';margin-bottom: 8px;padding: 8px 4px;  z-index: 3;opacity:0.6;border-radius:5px;display:inline-block;margin-right: 5px; margin-left: 5px; ">search   </button>
                     
                      <a  data-dismiss="modal"  class="btn-danger px-4" style="font-size:2vh; text-align:center; border: 1px solid rgba(0, 0, 0, 0.5);font-family: 'Cairo';margin-bottom: 8px;padding: 8px 4px;  z-index: 3;opacity:0.6;border-radius:5px;font-weight:bold;display:inline-block;margin-right: 5px; margin-left: 5px; color: #fff;">close </a>
                  </div>
            </form>
          </div>
        </div>
      </div>
       
 

