.navbar-nav > li {
	float: right;
}
.m-l-5 {
	margin-right: 5px !important;
}
.m-l-15 {
	margin-right: 15px !important;
}
.btn-custom {
	background: -moz-linear-gradient(right, #667eea 0%, #764ba2 100%);
	background: -webkit-linear-gradient(right, #667eea 0%, #764ba2 100%);
	background: -ms-linear-gradient(right, #667eea 0%, #764ba2 100%);
	background: linear-gradient(to left, #667eea 0%, #764ba2 100%);
}
.btn-custom.focus,
.btn-custom:focus,
.btn-custom:hover {
	background: -moz-linear-gradient(right, #667eea 0%, #764ba2 100%);
	background: -webkit-linear-gradient(right, #667eea 0%, #764ba2 100%);
	background: -ms-linear-gradient(right, #667eea 0%, #764ba2 100%);
	background: linear-gradient(to left, #667eea 0%, #764ba2 100%);
}
.dropdown-menu {
	transform-origin: right top 0;
}
.checktoggle:after {
	right: 0;
	transition: right 300ms ease, transform 300ms ease;
}
.check:checked + .checktoggle:after {
	right: 100%;
}
.onoffswitch {
	margin-right: auto;
}
.onoffswitch-inner {
    margin-right: -100%;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: right;
}
.onoffswitch-inner:before {
    padding-right: 14px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-right: 0;
}
.header {
	background: -moz-linear-gradient(right, #667eea 0%, #764ba2 100%);
	background: -webkit-linear-gradient(right, #667eea 0%, #764ba2 100%);
	background: -ms-linear-gradient(right, #667eea 0%, #764ba2 100%);
	background: linear-gradient(to left, #667eea 0%, #764ba2 100%);
}
.header .header-left {
	float: right;
}
.bar-icon span {
    float: right;
}
.header .navbar-nav .badge {
	right: 7px;
}
.header .has-arrow .dropdown-toggle:after {
	border-left: 0;
	border-right: 2px solid #fff;
}
.user-menu {
    float: left;
}
.page-title-box {
	float: right;
}
.flag-nav img {
	margin-left: 5px;
}
.menu-title > i {
	float: left;
}
.mobile-user-menu {
    float: left;
    left: 0;
    text-align: left;
}
.user-img .status {
	left: 0;
}
.sidebar {
    border-left: 1px solid transparent;
    right: 0;
}
.sidebar-menu li.menu-title a {
    margin-right: auto;
}
.profile-rightbar {
	margin-right: 15px;
}
.mobile_btn {
	float: right;
}
.sidebar .sidebar-menu > ul > li > a span {
	margin-right: 15px;
}
.sidebar .sidebar-menu > ul > li > a span.chat-user {
    margin-right: 0;
}
.sidebar .sidebar-menu > ul > li > a span.badge {
	margin-right: auto;
}
.sidebar-menu ul ul a {
	text-align: right;
	padding: 9px 50px 9px 10px;

}
.sidebar-menu ul ul ul a {
	padding-right: 70px;
}
.sidebar-menu ul ul ul ul a {
	padding-right: 90px;
}
.sidebar-menu .menu-arrow {
	left: 15px;
	transform: rotateY(180deg);
}
.noti-dot:before {
	left: 37px;
}
.noti-dot:after {
	left: 30px;
}
.sidebar-menu ul li.menu-title a i {
	margin-left: 0;
}
.add-btn i {
	margin-left: 5px;
}
.add-btn {
    float: left;
}
.cal-icon:after {
    left: 15px;
}
.table.custom-table > tbody > tr > td:last-child,
.table.custom-table > thead > tr > th:last-child {
	padding-left: 15px;
}
.sidebar-menu ul li a i {
	text-align: right;
}
.page-wrapper {
	right: 0;
	margin-right: 230px;
}
.account-box .account-btn {
	background: -moz-linear-gradient(right, #667eea 0%, #764ba2 100%);
	background: -webkit-linear-gradient(right, #667eea 0%, #764ba2 100%);
	background: -ms-linear-gradient(right, #667eea 0%, #764ba2 100%);
	background: linear-gradient(to left, #667eea 0%, #764ba2 100%);
}
.table.custom-table > tbody > tr > td,
.table.custom-table > tbody > tr > th,
.table.custom-table > tfoot > tr > td,
.table.custom-table > tfoot > tr > th,
.table.custom-table > thead > tr > td,
.table.custom-table > thead > tr > th {
	text-align: right;
}
.table.custom-table > tbody > tr > td:first-child,
.table.custom-table > thead > tr > th:first-child {
	text-align: right;
	padding-right: 15px;
}
.dash-widget-info {
	text-align: left;
}
.chat-right .chat-content {
    float: left;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	left: 7px;
}
.nav-tabs > li > a {
	margin-left: 0;
}
.dash-widget-icon {
	float: right;
	margin-left: 10px;
}
.fileupload.btn {
	left: 0;
}
.fileupload input.upload {
	left: -3px;
}
.chat-avatar-sm.user-img .status {
	left: -3px;
}
.activity .activity-list > li .activity-user {
	right: 8px;
}
.activity-list::before {
	right: 23px;
}
.activity .activity-list li::before {
	right: 22px;
}
.activity-list li::before {
	right: 8px;
}
.activity-list > li .activity-user {
	right: -7px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	right: 50%;
	margin-right: -10px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 30px;
	padding-right: 15px;
}
.modal-btn > .row {
	margin-right: -8px;
	margin-left: -8px;
}
.modal-btn > .row > div {
	padding-right: 8px;
	padding-left: 8px;
}
.profile-basic {
	margin-right: 140px;
}
.profile-img-wrap.edit-img .fileupload.btn {
	right: 0;
}
.chat-avatar-sm {
    float: right;
    margin-right: 0 !important;
    margin-left: 10px;
}
.chat-main-row {
	right: 0;
	left: 0;
}
.custom-menu.nav > li > a {
    margin-right: 15px;
}
.custom-menu .dropdown-menu {
	right: auto;
	left: 0;
}
.chat-wrap-inner {
	right: 0;
	left: 0;
}
.chat-left .chat-body {
	padding-right: 48px;
	padding-left: 10px;
}
.chat-bubble {
	float: right;
}
.chat-right .chat-bubble:hover .chat-action-btns {
	float: left;
}
.chat.chat-right .chat-bubble:last-child .chat-content {
	border-bottom-left-radius: 20px;
}
.chat.chat-right .chat-bubble:first-child .chat-content {
	border-top-left-radius: 20px;
}
.chat-bubble:hover .chat-action-btns {
	float: right;
}
.chat-action-btns ul > li {
	margin-right: 5px;
}
.chat-right .chat-action-btns {
	float: right;
}
.chat-right .chat-time {
	text-align: left;
}
.chat-action-btns {
	float: left;
}
.chat-avatar {
	float: left;
}
.chat-left .chat-avatar {
	float: left
}
.chat-left .chat-body {
	margin-left: 0;
	margin-right: 30px;
	padding-left: 20px;
}
.chat-left .chat-content {
	float: right;
}
.chat.chat-left .chat-bubble:first-child .chat-content {
	border-top-right-radius: 20px;
}
.chat.chat-left .chat-bubble:last-child .chat-content {
	border-bottom-right-radius: 20px;
}
.table-content {
	right: 0;
	left: 0;
}
.edit-btn {
	left: 15px;
}
.attach-list i {
	margin-left: 3px;
}
.change-img {
	right: 0;
}
.files-list {
	padding-right: 0;
}
.files-action {
	left: 0;
	text-align: left;
}
.files-action .dropdown-menu {
	right: auto;
	left: 0;
}
.chat-img-attach {
	margin-right: 12px;
	float: left;
}
.chat-placeholder {
	right: 0;
}
.chat-right .chat-content.img-content {
	text-align: left;
}
.upload-list .file-name {
	padding-left: 15px;
}
.upload-list .file-close {
	left: 0;
}
.form-focus .select2-container--default .select2-selection--single .select2-selection__arrow {
	left: 7px;
}
.action-label i {
	margin-left: 3px;
}
.dropdown.profile-action {
	left: 5px;
	text-align: left;
}
.view-icons {
	float: left;
	margin-left: 10px;
}
.view-icons .btn {
	margin-left: 5px;
}
.fc-basic-view td.fc-week-number span {
	padding-left: 8px;
}
.fc-basic-view td.fc-day-number {
	padding-left: 8px;
}
.chat-left .chat-img-attach {
	float: right;
}
.chat-left .chat-img-attach {
	float: right;
	margin-right: 0;
	margin-left: 12px;
}
.upload-text {
	margin-right: 10px;
}
.form-focus .focus-label {
	transform-origin: right top;
	right: 12px;
}
.form-focus .select2-container--default .select2-selection--single .select2-selection__arrow b {
	right: 50%;
	margin-right: -10px;
}
.form-focus .select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 30px;
	padding-right: 12px;
	padding-top: 10px;
}
.calendar {
	float: right;
}
.personal-info li .title {
	float: right;
	margin-left: 30px;
}
.profile-view .pro-edit {
    left: 0;
}
.edit-icon {
    float: left;
}
.delete-icon {
    float: left;
}
.profile-info-left {
	border-left: 2px dashed #ccc;
}
.notifications .media-list .media-left {
	padding-left: 8px;
}
.profile-view .profile-basic {
    margin-right: 140px;
    padding-left: 50px;
}
.experience-list::before {
	right: 8px;
}
.experience-list > li .experience-user {
	right: 4px;
}
.avatar-box {
    float: right;
}
.topnav-dropdown-header,
.topnav-dropdown-footer {
	padding-right: 12px;
	padding-left: 12px;
}
.topnav-dropdown-header .clear-noti {
    float: left;
}
.topnav-dropdown-header .notification-title {
    float: right;
}
.role-action {
	float: left;
}
.message-time {
	float: left;
}
.user-menu.nav > li > a .badge {
    left: 3px;
}
.roles-menu > ul > li a {
	border-right: 3px solid transparent;
}
.slide-nav .sidebar {
	margin-right: 0;
}
.list-box {
	padding-right: 0;
}
.media-body {
    text-align: right;
}
.list-body {
	text-align: right;
	padding: 0 50px 0 0;
}
.message-author {
	float: right;
}
.files-action .dropdown-menu {
	right: auto;
	left: 0;
}
.invoice-details,
.invoice-payment-details > li span {
	float: left;
	text-align: left;
}
.file-remove {
	left: -6px;
}
.attach-files li:last-child {
	margin-left: 0;
}
.attach-files li {
	margin-left: 10px;
}
.team-members > li:first-child a {
	margin-right: 0;
}
.task-chat-view {
	border-right: 1px solid #eaeaea;
}
.task-chat-view .chat-left .chat-body {
	margin-right: 50px;
}
.completed-task-msg {
	margin-right: 50px;
}
.task-assign {
	float: right;
}
.assign-title {
	float: right;
	margin-left: 10px;
}
.task-assign > a {
	float: right;
}
.task-wrapper .mark-all-tasks {
	text-align: left;
}
.task-wrapper .mark-all-tasks .mark-all-btn.move-up {
	left: 0;
}
.task-wrapper .mark-all-tasks .mark-all-btn.move-down {
	left: 0;
}
.task-wrapper #task-list li .task-container .task-action-btn {
	text-align: left;
}
.task-wrapper .task-list-footer .new-task-wrapper .btn {
	float: left;
}
.notification-popup {
	left: 10px;
}
.task-chat-view.opened {
	margin-left: 0;
}
.chat-profile-view.opened {
	margin-left: 0;
}
.remove-icon {
    margin-left: 10px;
    left: 0;
}
.due-icon span {
    margin-left: 10px;
}
.task-desc-icon {
    margin-left: 10px;
}
.task-complete-btn i {
    margin-left: 3px;
}
.task-information {
	margin-right: 50px;
}
.task-information .task-time {
	padding-right: 10px;
}
.task-action-btn.task-check {
	text-align: right !important;
}
.sidebar-overlay {
	right: 0;
}
.sidebar-menu.opened {
	margin-right: 0;
}
.task-due-date {
    margin-right: 10px;
    padding: 5px 10px 5px 5px;
}
.statistics .row {
	margin-right: -5px;
	margin-left: -5px;
}
.statistics .row > div {
	padding-right: 5px;
	padding-left: 5px;
}
.recent-activity .res-activity-list {
    padding-right: 30px;
}
.recent-activity .res-activity-list li:before {
	right: -30px;
	margin-left: 15px;
}
.recent-activity .res-activity-list:after {
	right: 4px;
}
.dataTables_wrapper.container-fluid {
	padding-right: 0;
	padding-left: 0;
}
.mail-label {
    margin-left: 5px;
}
.form-control.search-message {
	margin-right: 5px;
}
.attachments li {
	float: right;
	margin-left: 10px;
}
.sender-img {
	float: right;
	margin-left: 10px;
}
.right-action {
	text-align: left;
}
.mail-view-action {
	float: left;
}
.mail-sent-time {
	float: left;
}
.call-icons .call-items .call-item {
	margin-left: 5px;
}
.call-icons .call-items .call-item:last-child {
	margin-left: 0;
}
.call-duration {
	right: 0;
}
.user-video {
	right: 0;
	left: 0;
}
.my-video {
	left: 20px;
}
.my-video ul li {
	float: right;
	margin-left: 10px;
}
.end-call {
	left: 0;
}
.call-users {
	left: 20px;
}
.call-users ul li {
	float: right;
	margin-right: 10px;
}
.call-info {
	margin-right: 10px;
}
.call-box {
	background: -moz-linear-gradient(right, #667eea 0%, #764ba2 100%);
	background: -webkit-linear-gradient(right, #667eea 0%, #764ba2 100%);
	background: -ms-linear-gradient(right, #667eea 0%, #764ba2 100%);
	background: linear-gradient(to left, #667eea 0%, #764ba2 100%);
}
.contact-list {
	padding-right: 0;
}
.contact-action {
	padding-right: 0;
	left: 0;
	text-align: left;
}
.contact-action .dropdown-menu {
	right: auto;
	left: 0;
}
.chat-sidebar.opened {
	margin-left: 0;
}
.contact-alphapets {
	border-right: 1px solid #ddd;
	left: 0;
}
.chat-sidebar {
	border-right: 1px solid #eaeaea;
}
.chat-sidebar .chat-left .chat-body {
	margin-right: 50px;
	padding-left: 0;
}
.apply-btn {
	background: -moz-linear-gradient(right, #667eea 0%, #764ba2 100%);
	background: -webkit-linear-gradient(right, #667eea 0%, #764ba2 100%);
	background: -ms-linear-gradient(right, #667eea 0%, #764ba2 100%);
	background: linear-gradient(to left, #667eea 0%, #764ba2 100%);
	left: 20px;
}
.page-wrapper.job-wrapper {
	margin-right: 0;
}
.job-list .job-list-footer ul li {
	margin-left: 14px;
}
.job-list .job-list-footer ul li i {
	margin-left: 3px;
}
.job-list .job-list-footer ul li:last-child {
	margin-left: 0;
}
.job-info {
	float: right;
}
.job-post-det li {
	float: right;
	margin-left: 20px;
}
.notification-list .status-toggle {
	float: left;
}
.info-list span {
	float: right;
}
.info-list > h5 {
	margin-right: 40px;
}
.job-widget {
	float: right;
}
.square-list li:before {
	float: right;
	margin-right: -20px;
}
.leave-right .btn + .btn {
	margin-right: 10px;
}
.leave-right {
    text-align: left;
}
.add-group-btn .btn i {
	margin-left: 5px;
}
.leave-header .leave-action {
    text-align: left;
}
.btn.leave-delete-btn {
    margin-right: 10px;
}
.add-group-btn .btn {
    margin-right: 10px;
}
#loader-wrapper {
	right: 0;
	left: 0;
}
.otp-input {
    margin-left: 15px;
}
.otp-input:last-child {
	margin-left: 0;
}
#loader {
	right: 50%;
}
.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
	right: 0;  
}
.loader-ellips__dot:nth-child(3) { 
	right: 1.5em;   
}
.loader-ellips__dot:nth-child(4) { 
	right: 3em;   
}
.row.row-sm {
    margin-right: -5px;
    margin-left: -5px;
}
.row.row-sm > div {
    padding-right: 5px;
    padding-left: 5px;
}
.top-nav-search.active form {
    right: 0;
}
.topics .topics-list li a {
	padding-right: 25px;
}
.topics .topics-list li:before {
	right: 0;
}
.top-nav-search .btn {
    left: 0;
}
.widget .widget-title i {
    margin-left: 10px;
}
.topics .topic-title a i {
    margin-left: 5px;
}
.widget-category li:before {
	right: 0;
}
.faq-card .card .card-header h4 > a {
    padding-left: 60px;
}
.faq-card .card .card-header h4 > a:after {
	left: 0px;
}
.faq-card .card .card-header h4 > label {
    padding-left: 60px;
}
.faq-card .card .card-header h4 > label:after {
	left: 0px;
}
.welcome-img {
	margin-left: 15px;
}
.dash-card-icon {
    padding-left: 15px;
}
.widget-category li a {
    padding-right: 25px;
}
.comment-section {
    float: right;
}
ul.comment-list {
    float: right;
}
ul.comment-list li {
    float: right;
    padding: 0 0 0 70px;
}
ul.comment-list li .comment-author {
    right: 0;
}
ul.comment-list li .comment-author img {
    float: right;
}
ul.comment-list li .author-name span {
    float: right;
}
ul.comment-list li .comment-body {
    float: right;
}
ul.comment-list li ul.children {
    float: right;
}
.comment-section .comment-reply {
    float: right;
}
.comment-reply form {
    float: right;
}
.e-avatar {
    margin-right: -20px;
}
.e-avatar:first-of-type {
    margin-right: 0 !important;
}
.dash-stats-list {
    padding-right: 15px;
    padding-left: 15px;
}
.dash-stats-list + .dash-stats-list {
	border-right: 1px solid #e7e7e7;
}
.kanban-list {
    margin-left: 30px;
}
.kanban-list:last-child {
	margin-left: 0;
}
.kanban-list > .kanban-wrap > .card > .kanban-box > .task-board-body > .kanban-info > .progress {
	margin-left: 10px;
}
.kanban-list:last-child {
	margin-left: 0;
}
.kanban-list > .kanban-wrap > .card > .kanban-box > .task-body > .kanban-info > .progress {
	margin-left: 10px;
}
.kanban-list > .kanban-wrap > .card > .kanban-box > .task-body > .kanban-footer .ks-icon {
	margin-left: 3px;
}
.kanban-list > .kanban-wrap > .card > .kanban-box > .task-body > .kanban-footer > .task-users > .ks-amount {
	margin-right: 3px;
}
.kanban-list > .kanban-wrap > .card > .kanban-box > .task-board-body > .kanban-footer > .task-users > .task-user-count {
	margin-right: 3px;
}
.task-board-color .board-color-list .board-control {
    padding-right: 1.5rem;
    margin-left: 1rem;
    padding-right: 0;
}
.pro-teams {
    margin-left: 15px;
}
.pro-teams h4 {
    margin-left: 6px;
}
.board-view-header .view-icons {
    float: left;
    margin-left: 0;
}
.pro-progress-bar h4 {
    margin-left: 10px;
}
.pro-progress-bar .progress {
    margin-left: 10px;
}
.pro-teams .avatar-group .avatar {
    margin-left: 0;
}
.task-follower-list span i {
    left: 5px;
}
.pro-teams .pro-team-members {
    margin-right: 15px;
}
.board-view-header .view-icons a.btn + a.btn {
	margin-right: 5px;
}
.pro-teams .avatar-group .avatar + .avatar {
	margin-right: -.75rem;
}
.file-wrap .file-sidebar {
    border-left: 1px solid #e0e3e4;
    right: 0;
}
.file-wrap .file-sidebar .file-search .input-group .form-control {
    padding-right: 36px;
}
.file-wrap .file-sidebar .file-search .input-group .input-group-prepend {
    right: 15px;
}
.file-side-close {
    left: 15px;
}
.btn-file input {
	direction: ltr;
	left: 0;
}
.file-menu li a i {
	padding-left: 10px;
}
.show-more a:before {
    left: 0;
}
.dropdown-file {
    left: 10px;
}
.file-wrap.file-sidebar-toggle .file-sidebar {
    right: -331px;
}
.file-wrap.file-sidebar-toggle .file-cont-wrap {
	margin-right: 0;
}
.pricing-box ul li i {
	margin-left: 5px;
}
.file-wrap .file-cont-wrap {
    margin-right: 300px;
}
.file-wrap .file-cont-wrap .file-cont-inner .file-cont-header .file-options > a, 
.file-wrap .file-cont-wrap .file-cont-inner .file-cont-header .file-options > span {
	margin-right: 25px;
}
.file-wrap .file-cont-wrap .file-cont-inner .file-cont-header .file-options > a:first-child, 
.file-wrap .file-cont-wrap .file-cont-inner .file-cont-header .file-options > span:first-child {
	margin-right: 0;
}
.file-wrap .file-content .file-search .input-group .form-control {
    padding-right: 36px;
}
.file-wrap .file-content .file-search .input-group .input-group-prepend {
    right: 15px;
}
.pricing-box ul {
	text-align: right;
}
table.dataTable thead > tr > th.sorting_asc, 
table.dataTable thead > tr > th.sorting_desc, 
table.dataTable thead > tr > th.sorting, 
table.dataTable thead > tr > td.sorting_asc, 
table.dataTable thead > tr > td.sorting_desc, 
table.dataTable thead > tr > td.sorting {
	padding-left: 30px !important;
}
.m-r-5 {
	margin-left: 5px !important;
}
.m-r-10 {
	margin-left: 10px !important;
}
.bg-gradient-primary {
	background: linear-gradient( to  left, #6e00ff 10%, #6e00ff 100%);
}
.bg-gradient-secondary {
	background: linear-gradient(to bottom left,#f35c38 0,#f35c38  100%);
}
.bg-gradient-success {
	background: linear-gradient(to bottom left,#0ba408 0,#28e224 100%);
}
.bg-gradient-info {
	background: linear-gradient(to bottom left,#69c7de 0, #1e9fc4 100%);
}
.bg-gradient-warning {
	background: linear-gradient(to bottom left,#ecd53e  0,#efaf28  100%)
}
.bg-gradient-teal {
	background: linear-gradient(to bottom left,#00796b 0,#4db6ac 100%);
}
.bg-gradient-blue {
	background: linear-gradient(to left,#1976d2 0,#64b5f6 100%);
}
.bg-gradient-danger {
	background: linear-gradient(to left,#f95058 0,#f33540  100%);
}
.bg-gradient-purple {
	background: linear-gradient(to left,#8a56e6  0,#6f3cca  100%);
}
.onoffswitch-inner:after {
    padding-left: 14px;
    text-align: left;
}
.onoffswitch-switch {
    left: 43px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    left: 0px; 
}
.custom-modal .close {
    left: 10px;
}
@media only screen and (min-width: 991px) {
    #toggle_btn {
		float: right;
    }
    .mini-sidebar .page-wrapper {
		margin-right: 60px;
	}
}
@media only screen and (min-width: 768px) {
	.nav-tabs.nav-tabs-top > li+li > a {
		margin-right: 1px;
	}
}
@media only screen and (max-width: 1199.98px) {
	.file-wrap .file-sidebar {
		right: -331px;
	}
	.file-wrap .file-cont-wrap {
		margin-right: 0;
	}
	.file-wrap.file-sidebar-toggle .file-sidebar {
		right: 0;
	}
	.file-wrap.file-sidebar-toggle .file-cont-wrap {
		margin-right: 0;
	}
}
@media only screen and (max-width: 991.98px) {
    .profile-info-left {
		border-left: none;
    }
    .task-left-sidebar .task-chat-view {
		left: 0;
		margin-left: 0;
	}
	.task-chat-view {
		left: 0;
		margin-left: -300px;
	}
	.chat-profile-view {
		left: 0;
		margin-left: -300px;
	}
	.chat-main-row {
		right: 0;
	}
	.sidebar {
		margin-right: -225px;
	}
	.page-wrapper {
		margin-right: 0;
		padding-right: 0;
		padding-left: 0;
	}
	a.mobile_btn {
		right: 0;
	}
}
@media only screen and (max-width: 767.98px) {
    .profile-info-left {
		border-left: none;
    }
    .notifications {
		left: -48px;
	}
	.notifications::before,
	.notifications::after {
		left: 60px;
    }
    .task-wrapper #task-list li .task-container .task-label {
		padding-left: 50px;
	}
	.task-btn-left {
		left: 8px;
	}
	.nav-tabs.nav-justified > li > a.active,
	.nav-tabs.nav-justified > li > a.active:hover,
	.nav-tabs.nav-justified > li > a.active:focus {
		border-left-width: 2px;
	}
    .nav-tabs > li > a {
		border-left-color: transparent;
    }
    .nav-tabs .nav-item.show .nav-link,
	.nav-tabs .nav-link.active,
	.nav-tabs> li > a.active,
	.nav-tabs> li > a.active:hover,
	.nav-tabs> li > a.active:focus {
		border-left-width: 2px;
    }
    .nav-tabs.nav-tabs-solid > li > a {
		border-left-width: 0!important;
    }
    .nav-tabs-justified > li > a.active,
	.nav-tabs-justified > li > a.active:hover,
	.nav-tabs-justified > li > a.active:focus {
		border-left-color: #667eea;
	}
	.navbar-nav .open .dropdown-menu {
		float: right;
	}
	.mail-sent-time {
		float: right;
	}
}
@media only screen and (max-width: 575.98px) {
    .contact-cat {
		padding-left: 70px;
	}
	.profile-view .profile-basic {
		margin-right: 0;
		padding-left: 0;
	}
	.profile-basic {
		margin-right: 0;
    }
    .otp-input {
		margin-left: 10px;
	}
	.chat-left .chat-body {
		padding-right: 0;
		padding-left: 0;
	}
	.chat-left .chat-body {
		padding-right: 0;
		padding-left: 0;
	}
	.custom-menu > li > a {
		margin-right: 10px;
	}
}